.enter {
  opacity: 0;
  transform: translateX(-100%)
}

.enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3000ms ease-in-out, transform 3000ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 3000ms ease-in-out, transform 3000ms ease-in-out;
}
